@import url("https://fonts.googleapis.com/css2?family=kurale&family=openMontserrat&family=lato&family=poppins&display=swap");

:root{
--primary-color:#221E22;
--secondary-color:#ECA72C;
--accent1-color:#EE5622;
--accent2-color:#44355B;
--heading-font:"montserrat"
--paragraph-font: lato;
--headline-color-on-white:#221E22;
--headline-color-on-color:#EE5622;
--paragraph-color-on-white:#44355B;
--paragraph-color-on-color:#ECA72C;
--paragraph-background-color:#221E22;
--nav-link-color: #EE5622;
--nav-hover-link-color:white;
--nav-hover-background-color:#221E22;
}
a{
    text-decoration: none;
}
body{
    max-width: 800px;
    margin: auto;
    padding: 4em;
    font-size: 18px;
    text-align: left;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    color: white;
    background-color: rgba(191, 230, 85, 0.6);
}

.hero article  {
    position: absolute;
    background-color:rgba(255, 255, 255, 0.65);
    top: 6rem;
    left: 6rem;
    right: 6rem;

}

 .hero article img {
   float: right;
   margin: 2rem;
   width: 15rem;
}
article p {
    color:#221E22 ;
}


