@import url("https://fonts.googleapis.com/css2?family=kurale&family=openMontserrat&family=lato&family=poppins&display=swap");

:root{
--primary-color:#221E22;
--secondary-color:#ECA72C;
--accent1-color:#EE5622;
--accent2-color:#44355B;
--heading-font:"montserrat"
--paragraph-font: lato;
--headline-color-on-white:#221E22;
--headline-color-on-color:#EE5622;
--paragraph-color-on-white:#44355B;
--paragraph-color-on-color:#ECA72C;
--paragraph-background-color:#221E22;
--nav-link-color: #EE5622;
--nav-hover-link-color:white;
--nav-hover-background-color:#221E22;
}
a{
    text-decoration: none;
}
body{
    max-width: 800px;
    margin: auto;
    padding: 4em;
    font-size: 18px;
    text-align: left;
}

header {
       text-align: left;
       background-color: var("--nav-hover-background-color");      
}


.herodiv {
    margin: 10px auto;
}
.herodiv img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;

}

h1 {
    position: absolute;
    font-size: xx-large;
    font-style: var(--heading-font);
    top: 200px;
    right: 350px;
    color: white;
}

article img {
    position: absolute;
    float:right;
    top:300px;
    right:100px;

}

 article p {
   position: absolute;
   float: left;
   top: 300px;
   left: 250px;
   width: 45rem;
   color: white;
}

h2{
    text-align: left;
} 
section img {
    width: 25rem;
    padding: auto;
    left:10px
}

footer nav {
    size-adjust: xx small;
}